<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeday.time.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.timeday.time.pojo.Goods" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sales" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="image_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, price, description, sales, image_url
  </sql>

  <select id="selectGoodsById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from time_goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="goodsList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from time_goods order by sales DESC
  </select>

  <insert id="insertGoods" parameterType="com.timeday.time.pojo.Goods" keyProperty="id" useGeneratedKeys="true">
    insert into time_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateGoods" parameterType="com.timeday.time.pojo.Goods" >
    update time_goods
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="increaseSales">
    update time_goods
    set sales = sales + #{amount}
    where id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>